---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pog Capital">
  <main class="flex flex-col justify-center">
    <h1><span class="text-gradient">Pog Capital</span></h1>
    <img src="/poggers.webp" />
  </main>
</Layout>

<style>
  h1 {
    margin: 2rem 0;
    text-align: center;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
</style>
